* {
  margin: 0 auto;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  margin: 0;
}

.card {
  margin-top: 10px;
  border: 1px solid black;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  max-width: 500px;
  width: 700px;
  height: 150px;
}

input,
label {
  font-size: 30px;
}
